@import url(materialize.css);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  text-rendering: optimizeLegibility;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Theme =======================================*/
.theme .navbar {
  background-color:#0a0a0b; }

.theme .navbar-brand {
  color: #fff; }
  .theme .navbar-brand:hover {
    color: #fff; }
  .theme .navbar-brand:active {
    color: #fff; }
  .theme .navbar-brand:focus {
    color: #fff; }

.theme .nav > li > a {
  color: #fff; }
  .theme .nav > li > a:hover {
    background-color: transparent; }
  .theme .nav > li > a:focus {
    background-color: transparent; }

.theme .nav .open > a {
  background-color: transparent; }
  .theme .nav .open > a:hover {
    background-color: transparent; }
  .theme .nav .open > a:focus {
    background-color: transparent; }

.theme .bars {
  color: #fff; }

.theme .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme .sidebar .menu .list li.active > :first-child i, .theme .sidebar .menu .list li.active > :first-child span {
    color: #F44336; }

.theme .sidebar .menu .list .toggled {
  background-color: transparent; }

.theme .sidebar .menu .list .ml-menu {
  background-color: transparent; }

.theme .sidebar .legal {
  background-color: #fff; }
  .theme .sidebar .legal .copyright a {
    color: #F44336 !important; }


/* Navbar ===================================== */
.navbar {
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%; }
  .navbar .navbar-brand {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; }
  .navbar .navbar-custom-right-menu {
    float: right; }
  .navbar .navbar-toggle {
    text-decoration: none;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 17px; }
    .navbar .navbar-toggle:before {
      content: '\E8D5';
      font-family: 'Material Icons';
      font-size: 26px; }
  .navbar .navbar-collapse.in {
    overflow: visible; }

.ls-closed .sidebar {
  margin-left: -300px; }

.ls-closed section.content {
  margin-left: 15px; }

.ls-closed .bars:after, .ls-closed .bars:before {
  font-family: 'Material Icons';
  font-size: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  margin-right: 10px;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.ls-closed .bars:before {
  content: '\E5D2';
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.ls-closed .bars:after {
  content: '\E5C4';
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }

.ls-closed .navbar-brand {
  margin-left: 30px; }

.overlay-open .bars:before {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0); }

.overlay-open .bars:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.navbar-header {
  padding: 10px 7px; }
  .navbar-header .bars {
    float: left;
    text-decoration: none; }

.navbar-nav > li > a {
  padding: 7px 7px 2px 7px;
  margin-top: 17px;
  margin-left: 5px; }

.navbar-nav .dropdown-menu {
  margin-top: -40px !important; }


/* Top bar ===================================== */
.topbar .navbar-brand span, .topbar .navbar-brand span>i{
  vertical-align: middle;
  display: inline-flex;
  font-size: 13px; }
  .topbar .navbar-brand>span>a{
    color: #fff;
    font-size: 20px; }

@media (max-width: 767px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 35px;
    width: 73%; }
  .navbar .navbar-header {
    display: inline-block;
    margin-bottom: -6px;
    width: calc(100% + 30px); }
  .navbar .nav > li {
    display: inline-block; }
  .navbar .navbar-nav {
    margin-top: -10px;
    margin-bottom: 1px;
    margin-left: -7px; }
    .navbar .navbar-nav .open .dropdown-menu {
      background-color: #fff;
      position: absolute; }
  .navbar .dropdown-menu {
    margin-left: -50px; }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 20px; } }

@media (min-width: 992px) and (max-width: 1169px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 20px; } }

@media screen and (max-width: 500px){
  .topbar .navbar-brand span:not(:first-child){
    display: none;
  }
}

/* Barra lateral =============================== */
.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10; }

.overlay-open .sidebar#barralateral {
  margin-left: 0;
  z-index: 99999999; }

.sidebar {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  background: #fdfdfd;
  width: 300px;
  overflow: scroll;
  display: inline-block;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 11 !important; }
  .sidebar .legal {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    overflow: hidden; }
    .sidebar .legal .copyright {
      font-size: 13px;
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden; }
      .sidebar .legal .copyright a {
        font-weight: bold;
        text-decoration: none; }
    .sidebar .legal .version {
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 5px;
      font-size: 13px; }
  .sidebar .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    text-align: center;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    /*background: url("../images/user-img-background.jpg") no-repeat no-repeat;*/
    background: #0e0f0f66;
    height: 135px; }
    .sidebar .user-info .image {
      margin-right: 12px;
      display: inline-block; }
      .sidebar .user-info .image img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        vertical-align: bottom !important; }
    .sidebar .user-info .info-container {
      cursor: default;
      display: flex;
      justify-content: center;
      text-align: center;
      position: relative;
      /*top: 25px;*/
      top:12px; }
      .sidebar .user-info .info-container .name {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        max-width: 200px;
        color: #fff; }
      .sidebar .user-info .info-container .email {
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
        max-width: 200px;
        color: #fff; }
      .sidebar .user-info .info-container .user-helper-dropdown {
        position: absolute;
        right: -3px;
        bottom: -10px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        cursor: pointer;
        color: #fff; }
  .sidebar .menu {
    position: relative;
    height: 90vh;
    overflow-y: hidden;
    height: 100%; }
    .sidebar .menu .list {
      list-style: none;
      padding-left: 0; }
      .sidebar .menu .list li.active > :first-child span {
        font-weight: bold; }
      .sidebar .menu .list .header {
        background: #eee;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 16px; }
      .sidebar .menu .list i.material-icons {
        margin-top: 4px; }
      .sidebar .menu .list .menu-toggle:after, .sidebar .menu .list .menu-toggle:before {
        position: absolute;
        top: calc(50% - 14px);
        right: 17px;
        font-size: 19px;
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .sidebar .menu .list .menu-toggle:before {
        content: '+';
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .sidebar .menu .list .menu-toggle:after {
        content: '\2013';
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0); }
      .sidebar .menu .list .menu-toggle.toggled:before {
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0); }
      .sidebar .menu .list .menu-toggle.toggled:after {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
      .sidebar .menu .list a {
        color: #747474;
        position: relative;
        display: inline-flex;
        float: left;
        vertical-align: middle;
        width: 100%;
        padding: 10px 13px;
        text-decoration: none !important; }
        .sidebar .menu .list a:hover {
          background-color: rgb(177, 217, 248);
        }
        .sidebar .menu .list a small {
          position: absolute;
          top: calc(50% - 7.5px);
          right: 15px; }
        .sidebar .menu .list a span {
          margin: 7px 0 7px 12px;
          color: #333;
          font-weight: bold;
          font-size: 12px;
          overflow: hidden; }
      .sidebar .menu .list .ml-menu {
        list-style: none;
        display: none;
        padding-left: 0; }
        .sidebar .menu .list .ml-menu span {
          font-weight: normal;
          font-size: 14px;
          margin: 3px 0 1px 6px; }
        .sidebar .menu .list .ml-menu li a {
          padding-left: 55px;
          padding-top: 7px;
          padding-bottom: 7px; }
        .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
          font-weight: 600;
          margin-left: 5px; }
          .sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
            content: '\E315';
            font-family: 'Material Icons';
            position: relative;
            font-size: 21px;
            height: 20px;
            top: -5px;
            right: 0px; }
        .sidebar .menu .list .ml-menu li .ml-menu li a {
          padding-left: 80px; }
        .sidebar .menu .list .ml-menu li .ml-menu .ml-menu li a {
          padding-left: 95px; }


/* Nav Tabs ==================================== */
.nav-tabs {
  border-bottom: 2px solid #eee; }
  .nav-tabs > li {
    position: relative;
    top: 3px;
    left: -2px; }
    .nav-tabs > li > a {
      border: none !important;
      color: #999 !important;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
        background-color: transparent !important; }
      .nav-tabs > li > a:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 2px solid #2196F3;
        bottom: 2px;
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -moz-transition: 0.1s ease-in;
        -o-transition: 0.1s ease-in;
        -webkit-transition: 0.1s ease-in;
        transition: 0.1s ease-in; }
      .nav-tabs > li > a .material-icons {
        position: relative;
        top: 7px;
        margin-bottom: 8px; }
  .nav-tabs li.active a {
    color: #222 !important; }
    .nav-tabs li.active a:hover, .nav-tabs li.active a:active, .nav-tabs li.active a:focus {
      background-color: transparent !important; }
    .nav-tabs li.active a:before {
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
  .nav-tabs + .tab-content {
    padding: 15px 0; }


/* Buttons ===================================== */
.btn-red{
  background-color: #F44336;
  color: #fff; }
  .btn-red .content .text,
  .btn-red .content .number {
    color: #fff !important; }
    .btn-red:hover,
    .btn-red:active,
    .btn-red:focus {
      background-color: #ff968e !important; 
      color: #fff !important; }

.btn{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  outline: none; }
  .btn:hover,
  .btn:focus {
    outline: none; }
  .btn i {
    font-size: 20px;
    position: relative;
    top: 3px; }


/* Page Loader ================================= */
.page-loader-wrapper {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  text-align: center; }
  .page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444; }
  .page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px); }


/* Preloader ================================== */
.md-preloader .pl-red {
  stroke: #F44336; }

.md-preloader {
    font-size: 0;
    display: inline-block;
    width: 50px;
}

.md-preloader svg {
    -webkit-animation: inner 1320ms linear infinite;
    animation: inner 1320ms linear infinite
}

.md-preloader svg circle {
    fill: none;
    stroke: #448aff;
    stroke-linecap: square;
    -webkit-animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite;
    animation: arc 1320ms cubic-bezier(.8, 0, .4, .8) infinite
}

@-webkit-keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes outer {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@keyframes inner {
    0% {
        -webkit-transform: rotate(-100.8deg);
        transform: rotate(-100.8deg)
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
}

@-webkit-keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }
    40% {
        stroke-dasharray: 151.55042961px, 210.48670779px;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}

@keyframes arc {
    0% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: 0
    }
    40% {
        stroke-dasharray: 151.55042961px, 210.48670779px;
        stroke-dashoffset: 0
    }
    100% {
        stroke-dasharray: 1 210.48670779px;
        stroke-dashoffset: -151.55042961px
    }
}

/* Dropdown Menu =============================== */
.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin-top: -35px !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border: none; }
  .dropdown-menu .divider {
    margin: 5px 0; }
  .dropdown-menu .header {
    font-size: 13px;
    font-weight: bold;
    min-width: 270px;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 4px 0 6px 0; }
  .dropdown-menu > li > a {
    padding: 7px 18px;
    color: #666;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 14px;
    line-height: 25px; }
    .dropdown-menu > li > a:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .dropdown-menu > li > a i.material-icons {
      float: left;
      margin-right: 7px;
      margin-top: 2px;
      font-size: 20px; }


/* DataTable  ===================================== */
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important;
}
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}
table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}
div.dataTables_wrapper div.dataTables_filter {
  text-align: right;
  display: none;
}
div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background-color: #4d0915;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  text-decoration: none !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current):not(.next):not(.previous) {
  border: 1px solid #adaaaa;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover:not(.current):not(.next):not(.previous) {
  background-color: #ccc;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active:not(.current):not(.next):not(.previous) {
  outline: none;
  background-color: #878787;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  text-decoration: underline;
}


div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 30px;
}
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
  /* sort */
}
table.dataTable thead .sorting_asc:after {
  content: "\e155";
  /* sort-by-attributes */
}
table.dataTable thead .sorting_desc:after {
  content: "\e156";
  /* sort-by-attributes-alt */
}
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  color: #eee;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length,
  div.dataTables_wrapper div.dataTables_filter,
  div.dataTables_wrapper div.dataTables_info,
  div.dataTables_wrapper div.dataTables_paginate {
    text-align: center;
  }
}
table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px;
}
table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px;
}

table.table-bordered.dataTable th,
table.table-bordered.dataTable td {
  border-left-width: 0;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child,
table.table-bordered.dataTable td:last-child,
table.table-bordered.dataTable td:last-child {
  border-right-width: 0;
}
table.table-bordered.dataTable tbody th,
table.table-bordered.dataTable tbody td {
  border-bottom-width: 0;
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0;
}

/* Para celular */
.table-responsive{
  border:none !important;
}

/* Card ======================================== */
.card {
  background: #fff;
  border-radius: 7px;
  min-height: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 30px; }
.card .header {
  color: #555;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(66, 58, 58, 0.35);
  overflow: hidden;
  /*border-bottom: 1px solid rgba(204, 204, 204, 0.35);*/ }
  .card .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #111;
    display: inline-flex; 
    align-items: center;}
    .card .header h2>i{
      vertical-align:text-bottom;
      padding-right:7px;
      position: relative; }
    .card .header a,
    .card .header button,
    .card .header .header-btn{
      float:right;
      margin-right:10px; }
      .card .header .header-btn .btn-remove{
        display: none; }
      .card .header .header-btn .dropdown a{
        width: 100%;
        margin:0px; }

    .card .header a span{
      vertical-align: 2px; }
      

.card .body {
  font-size: 14px;
  color: #555;
  padding: 20px; 
  overflow: hidden; }
  .card .body .foot-btn{
    float: right;
    margin-bottom: 10px; 
    margin-right: 30px; }

.obj-info{
  display: inline-flex; }
  .obj-info span{
    margin:10px; }

@media screen and (max-width: 600px){
  .card .header a span,
  .card .header button span{
    display: none; }
  .card .header h2{
    font-size: 14px; }
  .card .header .header-btn{
    margin-right: 2px;}
}


/* Input Group ================================= */
.input-group {
  width: 100%;
  margin-bottom: 20px; }
  .input-group .form-line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative; }
    .input-group .form-line:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      bottom: -2px;
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -moz-transition: 0.25s ease-in;
      -o-transition: 0.25s ease-in;
      -webkit-transition: 0.25s ease-in;
      transition: 0.25s ease-in;
      border-bottom: 2px solid #1f91f3; }
    .input-group .form-line + .input-group-addon {
      padding-right: 0;
      padding-left: 10px; }
  
  .input-group .form-line.focused .form-label {
    bottom: 25px;
    left: 0;
    font-size: 12px; }
  .input-group .input-group-addon {
    border: none;
    background-color: transparent;
    padding-left: 0;
    font-weight: bold; }
    .input-group .input-group-addon .material-icons {
      font-size: 18px;
      color: #555; }
      .input-group .input-group-addon .material-icons.add-new-icon {
        color: green;
        font-size: 20px;}
  .input-group input[type="text"],
  .input-group .form-control {
    border: 1px solid #ccc;
    box-shadow: none;
    padding-left: 4px; }
  .input-group .form-control:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important; }
    .form-line .form-control.line-input{
      border: 0;
      box-shadow: -7px 8px 0px -7px #cacaca, 7px 8px 0px -7px #cacaca;
      -webkit-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s; }
      .input-group .form-line .form-control.line-input:focus{
        outline: none;
        box-shadow: -7px 8px 0px -7px #4d0915, 7px 8px 0px -7px #4d0915 !important; }

.form-control-label {
  text-align: right; }
  .form-control-label label {
    margin-top: 8px; }

span.form-control{
  background-color: #e1e4e8; }

.form-horizontal .form-group {
  margin-bottom: 0; }

.form-group {
  width: 100%;
  margin-bottom: 25px; }
  .form-group .form-control {
    width: 100%;
    /*border: none;*/
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
   /*padding-left: 0;*/
  }
  .form-group .help-info {
    float: right;
    font-size: 12px;
    margin-top: 5px;
    color: #999; }
  .form-group label.error {
    font-size: 12px;
    /*display: block;
    margin-top: 5px;*/
    font-weight: normal;
    color: #F44336;
    padding-left: 10px; }
    .form-group label.error + input.form-control:not(:active):not(:focus),
    .form-group label.error + select.form-control:not(:active):not(:focus){
      border-color: red;
    }
  .form-group .form-line {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd; }
    .form-group .form-line:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0;
      bottom: -1px;
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -moz-transition: 0.25s ease-in;
      -o-transition: 0.25s ease-in;
      -webkit-transition: 0.25s ease-in;
      transition: 0.25s ease-in;
      /*border-bottom: 1px solid #1f91f3;*/ }
    .form-group .form-line .form-label {
      font-weight: normal;
      color: #aaa;
      position: absolute;
      top: 10px;
      left: 0;
      cursor: text;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .form-group .form-line.error:after {
    border: 1px solid #F44336; }
  .form-group .form-line.success:after {
    border-bottom: 2px solid #4CAF50; }
  .form-group .form-line.warning:after {
    border-bottom: 2px solid #FFC107; }
  .form-group .form-line.focused:after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .form-group .form-line.focused .form-label {
    top: -10px;
    left: 0;
    font-size: 12px; }

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent; }

.form-table thead{
  background-color: lightblue; 
  font-size: 12px;}
.form-table .field-td{
  min-width: 110px; }
  .form-table .field-td .form-control{
    font-size: 12px; }
    .form-table .form-td-error .form-control:not(:active):not(:focus){
      border-color: red; }

.form-table label.error-table{
  color: red;
  font-weight: 100;
  font-size: 0.8em; 
  margin-left: 6px; }

/* Checkbox & Radio ============================ */
[type="checkbox"] + label {
  padding-left: 26px;
  height: 25px;
  line-height: 21px;
  font-size: 13px;
  font-weight: normal; }

[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -2px;
  width: 11px;
  height: 19px; }

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #26a69a;
  background-color: #26a69a;
  z-index: 0; }

[type="checkbox"].filled-in:checked + label:before {
  border-right: 2px solid #fff !important;
  border-bottom: 2px solid #fff !important; }


[type="checkbox"].filled-in:checked.chk-col-light-blue + label:after {
  border: 2px solid #03A9F4;
  background-color: #03A9F4; }

[type="radio"]:not(:checked) + label {
  padding-left: 26px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: normal; }

[type="radio"]:checked + label {
  padding-left: 26px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  font-weight: normal; }

/* ==== Scrollbar ==== */
::-webkit-scrollbar {
      width: 3px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  background-color: slategrey;
  outline: 1px solid slategrey;
}

/* Modal mensagens, alerta ===========================*/
.modal-msg{
  top:15%; }
  .modal-msg .modal-header span{
    display: inline-flex; }

.icon-success{
  color: green;
  margin-right: 7px; }

.icon-alert{
  color: black;
  margin-right: 7px; }

.modal-lg{
  width: 80% !important; }

.error-msg, 
.error-msg>strong{
  color: red;
  font-size: 13px;
  font-weight: normal;
  padding-top: 5px;
  display: block; }

@media (min-width: 768px){
  .modal-dialog{
    width: 40%; }
}


/* Block ==============================*/
.block-header {
  margin-bottom: 15px; }
  .block-header h2 {
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 20px; }

.block .block-content, 
.block .block-alert,
.block .alert{
  width: 70%; }

@media (max-width: 900px){
  .block{
    width: 100%;
    padding: 0px; }
    .block .block-content, 
    .block .block-alert,
    .block .alert{
      width: 100%; }
}

/* Autocomplete ================================*/

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

  .ui-menu .ui-menu-item:nth-child(odd){
    background-color: lightgrey;
  }

/* Lista ======================================= */
.lista{
  padding: 0px; }
  .lista .lista-header {
  margin-bottom: 15px; }
    .lista .lista-header h2 {
      margin: 0 !important;
      color: #666 !important;
      font-weight: normal;
      font-size: 20px; }
  .lista .lista-table thead th{
    background-color: lightblue !important; }
  .lista .lista-content, 
  .lista .lista-alert{
    padding: 0px; }
  .lista .lista-content .lista-table tbody tr td{
    vertical-align: inherit; }
  .lista .lista-content .lista-table tbody tr:hover{
    background: #d4d4d4;
    cursor: pointer; }
  .lista .lista-content .lista-table tbody tr .green_td:hover{
    background: #bfe5bf;
    cursor: pointer; }
  .lista .lista-content .lista-table tbody tr .red_td:hover{
    background: #e5c5c5;
    cursor: pointer; }
  .lista .lista-content .lista-table .lista-remove{
    text-align:center; }
    .lista .lista-content .lista-table .lista-remove .remove-entry-label{
      vertical-align:middle;
      margin-bottom: 0px; }

.lista-table .delete-row,
.lista-table .delete-row:hover,
.lista-table .delete-row:active{
  background-color: #f3baba !important; }


/* Formset ======================================= */

.formset{
  overflow: hidden;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px; }
  .formset .formset-header{
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 25px; 
  color: #4f4e4e;
  background-color: lightblue; }

.remove-formset{
  background-image: url('/static/icons/remove-icon.svg');
  background-size: 100%;
  width:16px;
  height: 16px;
  display: inline-table;
  float: right;
  cursor: pointer; 
  cursor: hand; }

.formset-tab:not(.formset-edit) .formset:first-child .remove-formset{
  visibility: hidden; }
  .formset-tab .formset:not(:first-child) .formset-padrao{
    visibility: hidden; }
  .formset-tab .formset[id^="documento_form"] .formset-padrao{
    visibility: hidden; }
  .formset-padrao > i{
    font-size: medium;
    vertical-align: middle;
    margin-left: 10px; }

.formset-box .formset:not(:first-child) .formset-lbl-padrao{
  visibility: hidden; }

.add-formset{
  background-color: #3cabbd;
  color: white;
  cursor: pointer; 
  cursor: hand; 
  float: left;
  margin-bottom: 15px; }


/* ================= Paginas especificas ======================== */

/* 404/500 Error ============================ */
.four-zero-four {
  width: 100%;
  text-align: center;
  margin: 5% auto; }
  .four-zero-four .four-zero-four-container .error-code {
    font-size: 160px; }
  .four-zero-four .four-zero-four-container .error-message {
    font-size: 26px;
    color: #333;
    font-weight: bold;
    margin-top: -40px; }
  .four-zero-four .four-zero-four-container .button-place {
    margin-top: 32px; }

/* Pagina inicial =========================== */
.inicial-card .header{
  background-color: #4d0915; }
.inicial-card .header h2, .inicial-card .header small{
  color:white; }
.inicial-card .body{
  padding:0px; 
  overflow: visible; }
.inicial-card .body table.table-hover{
  width:100%; }
.inicial-card .body table.table-hover tbody tr{
  background-color: #cee3f3; }
.inicial-card .body table.table-hover tbody tr.alerta{
  background-color: #dada61; }
  .inicial-card .body table.table-hover tbody tr.alerta:hover{
    background-color: #a7a772;}
.inicial-card .body table.table-hover tbody tr.hoje{
  background-color: #a5da67; }
  .inicial-card .body table.table-hover tbody tr.hoje:hover{
    background-color: #9fb584;}
.inicial-card .body table.table-hover tbody tr td a{  
  color: #555;
  text-decoration: none; }
.inicial-card .body table.table-hover tbody tr td{
  font-size: larger;
  text-align: center; }
.inicial-card .body table.table-hover tbody tr:hover{
  background-color: #899dae; }

/* Pagina de Login =========================== */
.login-page {
  background: URL(https://s2.glbimg.com/toFket_caEOmazBohxfuBQLGPBE=/e.glbimg.com/og/ed/f/original/2018/04/10/avengers-infinity-war-poster.jpg) no-repeat;
  padding-left: 0;
  max-width: 360px;
  margin: 5% auto;
  overflow-x: hidden; }
  .login-page .login-box .msg {
    color: #555;
    margin-bottom: 30px;
    text-align: center; }
  .login-page .login-box a {
    font-size: 14px;
    text-decoration: none;
    color: #00BCD4; }
  .login-page .login-box .logo {
    margin-bottom: 20px; }
    .login-page .login-box .logo a {
      font-size: 36px;
      display: block;
      width: 100%;
      text-align: center;
      color: #fff; }
    .login-page .login-box .logo small {
      display: block;
      width: 100%;
      text-align: center;
      color: #fff;
      margin-top: -5px; }


/* Pagina perfil usuario ======================= */
.perfil-user .foto-perfil>img{
  display: block;
  margin:auto; 
  max-height:150px;
  max-width:150px;
  padding-bottom:10px; }
  .perfil-user table{
    width: 90%; }
    .perfil-user table>tbody>tr>td{
      border-bottom: 1px solid #ccc !important; }
      .perfil-user table>tbody>tr>td:first-child{
        font-weight: bold; }

/* Pagina plano de contas ======================= */
.plano-grupo-row{
  font-weight: bolder;
  background-color: #d2dee0; }

.plano-subgrupo-row{
  background-color: white !important; }
.plano-subgrupo-row:hover{
  cursor: default !important;
}

/* ================================ Geral ===================================== */
body {
  background-color: #e9e9e9;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: 'Roboto', Arial, Tahoma, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

.title-header {
  margin-bottom: 15px; }
  .title-header h2 {
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 20px; }

.error-icon{
  font-size:15px;
  margin-left:5px;
  color:#cf3939; }
  .error-icon:not(.hidden) + span{
    border-color: red; }

.imposto-icon{
  margin-left: 33%;
  color: #577888;
  cursor: pointer; 
  cursor: hand; }

.detalhes-icon{
  margin-left: 33%;
  color: #577888;
  cursor: pointer; 
  cursor: hand; }

button,
input,
select,
a {
  outline: none !important; }

.hidden{
  display: none !important; }

.input_no_edit{
  background-color: lightgrey !important; }

.no-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important; }

section.content {
  margin: 100px 15px 0 315px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
